body {
	margin: 0px;
	width: 100%;
}

div.welcom {
	margin-left: 20px;
	margin-right: 20px;
	text-align: right;
}

a.log {
	color: #146EB4;
}

div.welcom a {
	color: #146EB4;
	margin-left: 10px;
	float: right;
}

label.user {
	color: #191970;
}