body {
	margin: 0px;
	width: 100%;
}

div.table {
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

div.aftertable {
	background-color: #146EB4;
}

div.table label {
	color: white;
}

div.table table {
	border: solid;
	border-style: solid;
	border-color: gray;
	background-color: gray;
	width: 100%;
}

div.table tr.head {
	background-color: silver;
	height: auto;
}

div.table tr.head:hover {
	cursor: pointer;
}

div.table img {
	width: 10px;
	height: 10px;
	margin-left: 10px;
}

tr {
	background-color: #87CEFA;
	height: auto;
}

.uid {
	width: 25px;
	text-align: right;
}

.seller {
	width: 100px;
}

th.price {
	width: 80px;
}

td.price {
	width: 80px;
	text-align: right;
}

th.increment {
	width: 50px;
}

td.increment {
	width: 50px;
	text-align: right;
}

th.bestoffer {
	width: 90px;
}

td.bestoffer {
	width: 90px;
	text-align: right;
}

.bidder {
	width: 100px;
}

.date {
	width: 80px;
}

.saleexpired {
	text-align: center;
}

.bidding {
	width: 150px;
}

.buybutton {
	margin-left: 25px;
	width: 100px;
}

.biddiv {
	background-color: #87CEFA;
}

div.table table input[type="text"] {
	margin-left: 10px;
	width: 55px;
}

.bidbutton {
	margin-left: 20px;
	width: 55px;
}

div.error {
	color: red;
	visibility: visible;;
}

a.prevpage {
	color: black;
	font: bold;
	margin-left: 10px;
}

a.nextpage {
	color: black;
	font: bold;
	float: right;
}

a.firstpage {
	color: black;
	font: bold;
}

a.lastpage {
	margin-left: 10px;
	color: black;
	font: bold;
	float: right;
}

a.bestOffer {
	color: black;
}

a.links {
	color: black;
}

.deleteedit {
	width: 150px;
}